<div class = "center padded">
    <div class = "content">
        <div class = "row vert-pad">
            <div class = "left padded">
                <h1>Ahora o nunca, trabajemos juntos! :)</h1>
                <p class = "text">Daré mi mejor esfuerzo para aportar valor y que tengamos una excelente relación a largo plazo.</p>
            </div>
            <div id = "contacto" class = "right padded">
                <div id = "whatsapp" class = "row right padded">
                    <a href = "https://wa.link/grpmiy" target = "_blank"><img class = "social msj" src = " {{ url_for('static', filename = 'whatsapp.png') }} " /></a>
                </div>
<!--                <form class = "contact-form" method = "post" action = " {{ url_for('portfolio.mail') }} ">
                    <input name = "name" placeholder = "Nombre" required />
                    <input name = "mail" placeholder = "Correo" required type="email" />
                    <textarea placeholder = "Mensaje" name = "message" required minlength = "10"></textarea>
                    <button class = "btn full-width">Enviar</button>
                </form> -->
            </div>
        </div>
    </div>
</div>