<div class = "center">
	<div class = "content">
		<div class = "row vert-pad">
			<div class = "left padded">
				<h1>Desarrollo con pasión aplicaciones y sitios web para personas.</h1>
				<p class = "text">Constántemente me encuentro aprendiendo nuevas tecnologías y desarrollando aplicaciones por placer, esta web la construí desde cero con Python y Flask! Y quiero ayudarte a desarrollar soluciones para tu negocio</p>
			</div>
			<div class = "right padded">
				<h1>Podemos conversar sobre lo que quieras</h1>
				<p class = "text">Envíame un mensaje para saber más <a class = "orange" href = "#contacto">pinchando aquí</a></p>
			</div>
		</div>
	</div>
</div>